{% extends 'inventory/base.html' %}
{% block content %}
<h2>Stock Batches</h2>
<table class="table table-striped">
    <thead><tr><th>Batch#</th><th>Product</th><th>Qty</th><th>Expiry Date</th><th>Controller</th></tr></thead>
    <tbody>
        {% for b in batches %}
        <tr>
            <td>{{ b.batch_number }}</td>
            <td>{{ b.product_name }}</td>
            <td>{{ b.quantity }}</td>
            <td>{{ b.expiry_date }}</td>
            <td>{{ b.controller_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}