{% extends 'inventory/base.html' %}
{% block content %}
<h2>Patient Prescription History</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Presc ID</th><th>Patient</th><th>Date</th><th>Doctor</th><th>Hospital</th><th>Pharmacist</th><th>#Medicines</th>
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
        <tr>
            <td>{{ row.prescription_id }}</td>
            <td>{{ row.patient_name }}</td>
            <td>{{ row.date_issued }}</td>
            <td>{{ row.doctor_name }}</td>
            <td>{{ row.hospital_name }}</td>
            <td>{{ row.pharmacist_name }}</td>
            <td>{{ row.number_of_medications }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}